* {
  font-family: sans-serif;
}

.container {
  max-width: 35vw;
  margin: 10vh auto 0 auto;
  padding-left: 3vw;
  padding-right: 3vw;
  border-radius: 10px;
  padding: 30px 3vw;
  box-shadow: 0px 0px 3px 2px rgb(170, 170, 170);
}

.header-text {
  text-align: center;
}

.add-task-container {
  display: flex;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: hotpink 2px solid;
  /* padding-bottom: 2px; */
}

#add-task-input {
  border: none;
  width: 100%;
  font-size: 2rem;
  background-color: rgb(240, 240, 240);
}

#add-task-input:focus {
  outline: none;
}

#add-task-button {
  margin-left: auto;
  border: none;
  width: 6vw;
  font-size: 1rem;
  background-color: rgb(240, 240, 240);
}

#add-task-button:hover {
  background-color: hotpink;
}

li {
  margin-bottom: 25px;
  height: 50px;
  font-size: 1.5rem;
}

.task {
  display: flex;
}

#task-list {
  list-style: none;
  padding-left: 0;
}

input[type="checkbox"] {
  transform: scale(2);
  margin-right: 15px;
  align-self: center;
  justify-self: center;
}

label {
  width: 100%;
}

.delete-btn {
  margin-left: auto;
}
